{% extends 'base.html.twig' %}

{% block title %}Password Reset Email Sent{% endblock %}

{% block body %}
    <p>Vous avez demandé un changement de mot de passe </p>

    <p>Vous pouvez  <a href="http://localhost:5173/resetPasswordEmail/{{ randomToken }}">cliquer ici</a> pour réinitialiser votre mot de passe directement.</p>
    </p>
   
{% endblock %}
